# Code owners for reviews and required approvals

# Default owner for all files
* @Timmyjork

# Specific paths
src/components/ui/ @Timmyjork
src/components/table/ @Timmyjork
src/pages/ @Timmyjork
src/state/ @Timmyjork
src/auth/ @Timmyjork
src/assets/ @Timmyjork
public/ @Timmyjork
.github/workflows/ @Timmyjork
